.container{
    height: 14rem;
    width: 5rem;
    border: 5px solid black;
}
#red{
background-color: red;
width: 2rem;
height: 2rem;
padding: 0.7rem;
margin: 0.7rem;
border-radius: 50%;
border: black solid 2px;
}

#yellow{
    background-color: yellow;
    width: 2rem;
height: 2rem;
padding: 0.7rem;
margin: 0.7rem;
border-radius: 50%;
border: black solid 2px;
}

#green{
    background-color: green;
    width: 2rem;
height: 2rem;
padding: 0.7rem;
margin: 0.7rem;
border-radius: 50%;
border: black solid 2px;
}
