.container {
    height: 50px;
    width: 900px;
    background-color: rgb(223, 121, 180);
    border: 2px solid white;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    justify-self: center;
    padding-top: 2px;
    position: fixed;
    top:10px;
    left: 250px;
}

.divst {
    font-size: 24px;
margin-left: 10px;
padding: 10px;
cursor: pointer;
color: black;
transition: color 0.5s;
}
.divst:hover{
    color:white;
    text-decoration: underline;
}
p{
    margin-top: 100px;
    font-size: 40px;
}